/.vs/AsyncAwaitHealthCheckTester/v15/.suo
/.vs/AsyncAwaitHealthCheckTester/v15/Server/sqlite3/db.lock
/.vs/AsyncAwaitHealthCheckTester/v15/Server/sqlite3/storage.ide
/.vs/AsyncAwaitHealthCheckTester/v15/Server/sqlite3/storage.ide-shm
/.vs/AsyncAwaitHealthCheckTester/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
/AsyncAwaitHealthCheckTester/bin/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.deps.json
/AsyncAwaitHealthCheckTester/bin/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.dll
/AsyncAwaitHealthCheckTester/bin/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.pdb
/AsyncAwaitHealthCheckTester/bin/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.runtimeconfig.dev.json
/AsyncAwaitHealthCheckTester/bin/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.runtimeconfig.json
/AsyncAwaitHealthCheckTester/bin/Debug/netcoreapp2.1/Urls.txt
/AsyncAwaitHealthCheckTester/obj/AsyncAwaitHealthCheckTester.csproj.nuget.cache
/AsyncAwaitHealthCheckTester/obj/AsyncAwaitHealthCheckTester.csproj.nuget.g.props
/AsyncAwaitHealthCheckTester/obj/AsyncAwaitHealthCheckTester.csproj.nuget.g.targets
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.AssemblyInfo.cs
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.AssemblyInfoInputs.cache
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.RazorAssemblyInfo.cache
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.RazorAssemblyInfo.cs
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.RazorTargetAssemblyInfo.cache
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.assets.cache
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.csproj.CoreCompileInputs.cache
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.csproj.FileListAbsolute.txt
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.csprojAssemblyReference.cache
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.dll
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/AsyncAwaitHealthCheckTester.pdb
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/AsyncAwaitHealthCheckTester/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/AsyncAwaitHealthCheckTester/obj/project.assets.json
